.img-products{
    width: auto;
    height: 150px;
}

.circle{
    text-align: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.description{
    font-size: 18px;
}

.img-thrash{
    width: 40%;
    height: auto;
    padding: 0;
    z-index: -1;
}

.delete{
    padding: 2px !important;
    z-index: 999;
}


                                /* Aqui comienzan las media queries  */
    
    /* Estilos para dispositivos móviles */
    @media only screen and (max-width: 767px) {
    
        /* Estilos para dispositivos con ancho máximo de 767px */
        
    }
    
    
    /* Estilos para tabletas */
    @media only screen and (min-width: 768px) {
    
        /* Estilos para dispositivos con ancho mínimo de 768px y ancho máximo de 1080px */
        
        .description{
            font-size: 20px;
        }
        
        .img-products{
            width: auto;
            height: 140px;
        }

    }
    
    
    /* Estilos para pantallas de escritorio */
    @media only screen and (min-width: 1080px) {
    
        /* Estilos para dispositivos con ancho mínimo de 1080px y ancho máximo de 1400px */
        .img-products{
            width: auto;
            height: 150px;
        }
        .img-thrash{
            width: 60%;
        }
    }
    
    @media only screen and (min-width: 1400px) {
        /* Estilos para dispositivos con ancho mínimo de 1400px */
        
        .description{
            font-size: 24px;
        }
        
        .img-products{
            width: auto;
            height: 160px;
        }
    }